<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn something today</h1>
  <hr />

  <% @courses.each do |course| %>
    <h2 class="text-center">
      <%= link_to course.title, course_path(course) %>
      </h2>
    <br />
    <div class="row">
    <div class="col-sm-8 col-12">
      <%= course.description %>
    </div>
    <div class="col-sm-4 col-12 text-center">
      <%= link_to 'Button', '#', class: 'btn btn-primary btn-large' %>
    </div>
  </div>
  <br class="clr" />
  <% end %>

  <!-- Photos Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Add a Picture</h4>
      </div>
      
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <%= f.input :picture %>
          <%= f.input :caption %>
      <div class="modal-body">
      </div>
      
        <%= f.submit "Add a Photo", class: 'btn btn-warning' %>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>